* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;

    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    padding: 5px;
}
#controls {
    float: left;

    height: 22px;

    margin-bottom: 3px;
}
    #controls select {
        height: 20px;
        line-height: 20px;

        margin-right: 10px;

        border: 1px solid silver;
    }
    #controls #port {
        width: 140px;
    }
    #controls #programmer {
        width: 150px;
    }
    #controls #firmware {
        width: 120px;
    }
#app_options {
    float: right;

    margin-top: 1px;

    width: 20px;
    height: 20px;

    opacity: 0.6;
}
    #app_options:before {
        font-family: icons;
        content: '\e600';
        font-size: 18px;
    }
    #app_options:hover {
        opacity: 0.70;
    }
    #app_options.active {
        opacity: 0.70;
    }
    #app_options.active:hover {
        opacity: 0.85;
    }
#app_options-window {
    display: none;
    position: fixed;

    right: 5px;
    top: 30px;

    padding: 5px;

    line-height: 20px;

    border: 1px solid silver;
    background-color: white;
}
    #app_options-window input {
        float: left;

        margin-top: 3px;
        margin-right: 5px;
    }
#log {
    margin-bottom: 5px;

    height: 60px;

    border: 1px solid silver;
    background-color: white;

    overflow-y: scroll;
}
    #log .wrapper {
        padding: 5px;

        -webkit-user-select: text;
    }
#content {
    height: 180px;

    padding: 10px;

    border: 1px solid silver;
    background-color: white;

    overflow-y: auto;
    overflow-x: hidden;
}
.donate {
    height: 84px;

    padding: 0 0 5px 0;
    margin: 5px 0 0 0;

    border: 1px solid silver;
    background-color: white;
}
    .donate .title {
        line-height: 20px;

        text-align: center;
        font-weight: bold;
        color: white;

        border-bottom: 1px solid silver;
        background-color: #3f4241;
    }
    .donate p {
        padding: 5px;
    }
    .donate a {
        display: block;

        width: 74px;
        height: 21px;

        margin: auto;
    }

@font-face {
    font-family: 'icons';
    src: url('./images/icons/icomoon.woff');
}