* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;

    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    padding: 5px;
}
#controls {
    height: 22px;

    margin-bottom: 3px;
}
    #controls select {
        height: 20px;
        line-height: 20px;

        margin-right: 10px;

        border: 1px solid silver;
    }
    #controls #port {
        width: 140px;
    }
    #controls #programmer {
        /* using auto-width for now */
    }
    #controls #firmware {
        width: 120px;
    }
#log {
    margin-bottom: 5px;

    height: 60px;

    border: 1px solid silver;
    background-color: white;

    overflow-y: scroll;
}
    #log .wrapper {
        padding: 5px;

        -webkit-user-select: text;
    }
#content {
    height: 180px;

    padding: 10px;

    border: 1px solid silver;
    background-color: white;

    overflow-y: auto;
    overflow-x: hidden;
}
#options {
    height: 150px;
}
    #options .title {
        margin-bottom: 10px;
        padding-bottom: 5px;

        font-weight: bold;
        text-align: center;

        border-bottom: 1px dashed silver;
    }
    #options dl {
    }
    #options dt {
        float: left;

        width: 20px;
        height: 22px;

        line-height: 20px;
    }
        #options dt input[type="checkbox"] {
            vertical-align: middle;
        }
    #options dd {
        height: 22px;
        line-height: 22px;

        margin-left: 20px;
    }
.buttons {
    height: 28px;
}
    .buttons .load {
        float: left;
    }
    .buttons .save {
        float: left;

        margin-left: 10px;
    }
    .buttons .flash {
        float: right;
    }
    .buttons a {
        display: block;

        height: 26px;
        line-height: 26px;

        padding: 0 10px 0 10px;

        text-align: center;
        font-weight: bold;

        border: 1px solid silver;
        background-color: #ececec;
    }
    .buttons a:hover {
        background-color: #dedcdc;
    }
.donate {
    height: 80px;

    padding: 0 0 5px 0;
    margin: 5px 0 0 0;

    border: 1px solid silver;
    background-color: white;
}
    .donate .title {
        line-height: 20px;

        text-align: center;
        font-weight: bold;
        color: white;

        border-bottom: 1px solid silver;
        background-color: #3f4241;
    }
    .donate p {
        padding: 5px;
    }
    .donate a {
        display: block;

        width: 74px;
        height: 21px;

        margin: auto;
    }