.tab-advanced .checkbox {
    height: 22px;

    line-height: 20px;
}
    .tab-advanced .checkbox input {
        vertical-align: middle;
    }
.tab-advanced .checkbox div:nth-child(1) {
    float: left;

    width: 20px;
}
.tab-advanced .checkbox div:nth-child(2) {
    float: left;

    width: 140px;

    font-weight: bold;
}
.tab-advanced .checkbox div:nth-child(3) {
    float: left;
}

.tab-advanced .number {
    height: 22px;

    line-height: 20px;
}
    .tab-advanced .number input {
        display: block;

        width: 50px;
        height: 18px;
        padding-left: 5px;

        border: 1px solid silver;
    }
.tab-advanced .number div:nth-child(1) {
    float: left;

    width: 65px;
}
.tab-advanced .number div:nth-child(2) {
    float: left;

    width: 130px;

    font-weight: bold;
}
.tab-advanced .number div:nth-child(3) {
    float: left;
}