.tab-basic .checkbox {
    height: 22px;

    line-height: 20px;
}
    .tab-basic .checkbox input {
        vertical-align: middle;
    }
.tab-basic .checkbox div:nth-child(1) {
    float: left;

    width: 20px;
}
.tab-basic .checkbox div:nth-child(2) {
    float: left;

    width: 140px;

    font-weight: bold;
}
.tab-basic .checkbox div:nth-child(3) {
    float: left;
}