.tab-usbasp .optional_permissions {
    display: none;
    margin-bottom: 10px;
}
    .tab-usbasp .optional_permissions p {
        padding: 5px;
        text-align: center;
    }
    .tab-usbasp .optional_permissions a {
        display: block;
        margin: auto;

        width: 200px;
        height: 28px;
        line-height: 28px;

        text-align: center;
        font-weight: bold;

        border: 1px solid silver;
        background-color: #ececec;
    }
    .tab-usbasp .optional_permissions a:hover {
        background-color: #dedcdc;
    }
.tab-usbasp .info {
    padding: 5px;
    border: 1px dashed silver;
}
    .tab-usbasp .info a {
        font-weight: bold;
    }
    .tab-usbasp .info a:hover {
        text-decoration: underline;
    }